<div class="control-group">
  <h4>Resend unlock instructions</h4>

  <%= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :unlock_token %>

    <div>
      <%= f.input :email, :required => true, :autofocus => true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Resend unlock instructions", class: 'btn btn-primary submit' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>