<td><%= filelist.get("file_file_name") %></td>
<td><%= filelist.get("description") %></td>
<td><%= filelist.get("size") %></td>
<td><%= filelist.get("extension") %></td>
<td><%= filelist.get("file_updated_at") %></td>
