<td><%= item.get("file_file_name") %></td>
<td><%= item.get("description") %></td>
<td><%= item.get("size") %></td>
<td><%= item.get("extension") %></td>
<td><%= item.get("file_updated_at") %></td>