<div class="item_details">
  <ul class="nav nav-pills nav-stacked title">
    <li><span class="title">Title: </span></li>
    <li><span class="title">Format: </span></li>
  </ul>
  <ul class="nav nav-pills nav-stacked val">
    <li><%= model.get("file_file_name") %></li>
    <li><%= model.get("extension") %></li>
  </ul>
  <ul class="nav nav-pills nav-stacked title">
    <li><span class="title">Size: </span></li>
    <li><span class="title">Date: </span></li>
  </ul>
  <ul class="nav nav-pills nav-stacked val">
    <li><%= model.get("size") %></li>
    <li><%= model.get("file_updated_at") %></li>
  </ul>
  <% if (model.get("mp3?") == true) {%>
    <div class="player_placeholder"><audio controls="controls"><source src="<%= model.get("file_path") %>" type="audio/mp3"></audio></div>
  <% } %>
</div>