<td>
  <a href='<%= item.get("file_path") %>' target="_blank">
    <%= item.get("content_icon") %>
    <span class="text">
      <%= item.get("file_file_name") %>
    </span>
  </a>
</td>
<td><%= item.get("description") %></td>
<td><%= item.get("size") %></td>
<td><%= item.get("extension") %></td>
<td><%= item.get("file_updated_at") %></td>
